<!-- META -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="App for managing open orders in ABTL" />

<!-- TITLE -->
<title>ABTL - Open Orders</title>

<!-- FAVICON -->
<link rel="icon" href="./images/icons/icon-16x16.png" type="image/png" />

<!-- CSS -->
<link rel="stylesheet" href="./css/style.css" />

<!-- JS -->
<script src="/socket.io/socket.io.js"></script>
<script src="./js/script.js" type="module" defer></script>

<!-- PWA -->
<link rel="manifest" href="./manifest.json" />
<link rel="apple-touch-icon" href="./images/icons/icon-apple-touch.png" />
<meta name="theme-color" content="#1F2937" />
