<signin
  class="w-screen h-screen absolute flex text-gray-800 transition duration-200 bg-svg confetti-doogles bg-primary-500 opacity-0 opacity-100"
>
  <div class="w-full flex items-center justify-center">
    <form
      data-form="signin"
      class="bg-white shadow-xl px-8 py-12 rounded flex flex-col items-stretch w-full space-y-8 max-w-sm"
    >
      <h1 class="text-center font-bold text-2xl">Sign in to your account</h1>
      <div class="flex flex-col">
        <label>Email</label>
        <input type="email" name="email" />
      </div>
      <div class="flex flex-col">
        <label>Password</label>
        <input type="password" name="password" />
      </div>
      <button>Sign In</button>
    </form>
  </div>
</signin>
