label.checkbox {
  @apply relative;
}
label.checkbox:hover {
  @apply cursor-pointer;
}
label.checkbox input {
  @apply absolute w-0 h-0 opacity-0;
}
label.checkbox span {
  @apply w-12 h-6 ring-2 ring-gray-800 p-0.5;
}
label.checkbox span:after {
  content: '';
  height: 1.25rem;
  width: 1.25rem;
  transform: translate(0%, 0%);
  @apply absolute bg-gray-800 block rounded-full transition duration-200;
}
label.checkbox input:checked ~ span {
  @apply bg-gray-800;
}
label.checkbox input:checked ~ span:after {
  transform: translate(120%, 0%);
  @apply bg-white;
}
