<div data-page="orders" class="opacity-0 pointer-events-none">
  <div class="p-4 flex-col space-y-4 items-start bg-gray-100">
    <filter class="inline-flex shadow rounded">
      <button class="current" data-filter="all">All</button>
      <button data-filter="complete">Complete</button>
      <button data-filter="open">Open</button>
      <button data-filter="late">Late</button>
    </filter>
    <div class="max-h-full min-w-full max-w-full shadow md:max-h-none">
      <table class="min-w-full sortable">
        <thead>
          <tr>
            <th class="w-20">Complete</th>
            <th class="text-left whitespace-nowrap">SO #</th>
            <th class="text-right">Ship Date</th>
            <th class="text-right">Cust. #</th>
            <th class="text-left">
              <div class="block md:hidden">Cust.</div>
              <div class="hidden md:block">Customer</div>
            </th>
            <th class="text-left">Territory</th>
            <th class="text-right">
              <div class="block md:hidden">Bldg.</div>
              <div class="hidden md:block">Building</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <template>
            <tr class="transition duration-200">
              <td>
                <div class="flex justify-center">
                  <label class="checkbox">
                    <input type="checkbox" />
                    <span class="w-10 h-6 block ring-2 rounded-full"></span>
                  </label>
                </div>
              </td>
              <td class="whitespace-nowrap" data-field="order"></td>
              <td
                class="whitespace-nowrap text-right"
                data-field="requestedDate"
              ></td>
              <td
                class="whitespace-nowrap text-right"
                data-field="cunumber"
              ></td>
              <td class="whitespace-nowrap" data-field="account"></td>
              <td class="whitespace-nowrap" data-field="territory"></td>
              <td
                class="whitespace-nowrap text-right"
                data-field="building"
              ></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</div>
